body {
  background: #243042;
}


.ed-header {
  position : fixed;
  top      : 0;
  width    : 100%;
  z-index  : 100;
}
  .logo { height : 2rem }

  
  .icon {
    --size : 1.5rem;
    width  : var(--size);
    height : var(--size);
    fill   : currentColor;
  }

